@charset "UTF-8";
/*!

	Itsy by FreeHTML5
	https://freehtml5.co
	https://twitter.com/fh5co
	https://fb.com/fh5co

==========================================================================
*/
/* ==========================================================================
	Table of Contents
==========================================================================

	============================================= */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}


pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px red;
  -webkit-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
}

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

input[type="radio"], .ie6 input {
  vertical-align: text-bottom;
}

em, i {
  font-style: oblique;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  -webkit-font-smoothing: aliased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
		0.1 Plugins
	========================================================================== */
/* ==========================================================================
0.1.1 Flexslider
========================================================================== */
/*
* jQuery FlexSlider v2.2.0
* http://www.woothemes.com/flexslider/
*
* Copyright 2012 WooThemes
* Free to use under the GPLv2 license.
* http://www.gnu.org/licenses/gpl-2.0.html
*
* Contributing author: Tyler Smith (@mbmufffin)
*/
/* Browser Resets
*********************************/
.

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
.sticky {
  font-style: normal;
}

.gallery-caption {
  font-style: normal;
  font-size: 80%;
}

.bypostauthor .avatar {
  border-color: #ccc;
}

.post-image:hover, .flexslider:hover {
  position: relative;
}

/* ==========================================================================
	1. Global
	========================================================================== */
html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #737171;
}

}


h2.home-sticky-title, h2.home-blog-title {
  margin-bottom: 1em;
  text-align: center;
}
h2.home-sticky-title:before, h2.home-blog-title:before {
  content: '— ';
  display: inline-block;
  padding-right: 0.4em;
}
h2.home-sticky-title:after, h2.home-blog-title:after {
  content: ' —';
  display: inline-block;
  padding-left: 0.2em;
}

h2.home-blog-title {
  margin-top: -1.25em;
  margin-bottom: 1.5em;
}

.home-sticky {
  padding: 2em 0;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.home-sticky .home-sticky-post {
  max-width: 100%;
  display: block;
  float: left;
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 450px;
  position: relative;
  display: table;
  width: 100%;
}
.hero .hero-inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.hero .hero-inner .inner {
  max-width: 1400px;
  display: block;
  margin: 0 auto;
}
.hero .hero-inner span.border {
  display: inline-block;
  width: auto;
  padding: 6px 0;
}
.hero .hero-inner span.border.border-top {
  border-top: 2px solid #fff;
}
.hero .hero-inner span.border.border-bottom {
  border-bottom: 2px solid #fff;
}
.hero .more-arrow {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 40px 2em;
}
.hero .more-arrow:hover {
  opacity: 0.7;
}
.hero .more-arrow .fa {
  color: #fff;
  font-size: 25px;
  font-size: 2.5rem;
}
.hero .more-arrow span {
  position: absolute;
  left: -9999em;
}

.wrap {
  padding-top: 2em;
}

.post {
  position: relative;
}
.post .featured {
  background: url(assets/img/featured.svg) 100% 100% no-repeat;
  background-size: 95% auto;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 39px;
  height: 39px;
  border-radius: 4px;
}
.post h2.entry-title, .post h1 {
  text-align: center;
}

.page h1 {
  margin-bottom: 0.5em;
  text-align: left;
}

.page blockquote, .single blockquote {
  margin-top: 1em;
}

.main-archive .post {
  margin-bottom: 2em;
}
.main-archive .post.home-sticky-post {
  margin-bottom: 0;
}
.main-archive .post {
  position: relative;
}
.main-archive .post .content-aside {
  -o-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.main-archive .post .content-aside:hover {
  opacity: 0.7;
}
.main-archive .post blockquote {
  margin-top: 1.5em;
}

.post-content {
  display: inline-block;
  width: 100%;
}

.post-image {
  display: block;
  position: relative;
  z-index: 3;
  background: #fff;
}
.post-image a:hover img {
  opacity: 0.85;
}
.post-image img {
  display: block;
  width: 100%;
}

.post-status {
  display: block;
  text-align: center;
  padding: 3em 0 0 0;
}
.post-status blockquote, .post-status iframe {
  margin: 0 auto !important;
  display: block;
}

.part-link {
  margin-top: 2em;
  margin-bottom: 2em;
}
.part-link .more-link {
  max-width: 12em;
}

.single .content-quote {
  margin-top: 1em;
}

.single .main {
  position: relative;
}
.single .main .jp-interface {
  z-index: 1;
}

.meta.bottom, .meta.sharer {
  width: 100%;
  border-bottom: none;
  padding: 0.75em 0 1.75em 0;
}

.meta {
  list-style: none;
  display: table;
  margin: 0 auto 0 auto;
}
.meta.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}
.meta li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.25em;
}
.meta li:first-child {
  margin-left: 0;
}
.meta li:before {
  content: " • ";
  color: #f08c79;
}
.meta li:first-child:before {
  content: " ";
}

.more-link {
  border: 2px solid #f08c79 !important;
  padding: 0.35em 0.75em 0.4em 0.75em;
  line-height: 1.3;
  display: block;
  vertical-align: middle;
  border-radius: 10em;
  max-width: 6em;
  text-align: center;
  margin: 2em auto 0 auto;
}
.more-link:hover {
  border: 2px solid #34495e !important;
}

p + .more-link {
  margin-top: 0;
}

.author-wrap {
  padding: 3.5em 2em 3.5em 2em;
}

.author-wrap, .author-enhanced {
  display: table;
  width: 100%;
  text-align: center;
  margin: 2em 0;
}
.author-wrap h6, .author-enhanced h6 {
  margin-bottom: -0.5em;
}
.author-wrap a:hover, .author-enhanced a:hover {
  opacity: 0.7;
}
.author-wrap .author-avatar img, .author-enhanced .author-avatar img {
  width: 95px;
  height: 95px;
  margin-bottom: 10px;
  border: none;
}
.author-wrap .author-socials, .author-enhanced .author-socials {
  padding: 10px 7px;
  opacity: 0.3;
}
.author-wrap .author-socials span, .author-enhanced .author-socials span {
  position: absolute;
  left: -9999em;
}

/* ==========================================================================
	4. Search / Archive / Author
	========================================================================== */
h1.searching {
  text-align: center;
}

h1.searching + p {
  text-align: center;
  opacity: 0.5;
}

h1.searching + p:last-of-type {
  margin-bottom: 0;
}

.post.result {
  margin-top: 0;
}

.post.post-result a:hover {
  opacity: 0.7;
}

.author-wrap .author-avatar img, .author-enhanced .author-avatar img {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.author-enhanced {
  text-align: center;
}
.author-enhanced h1.searching + p:last-of-type {
  margin-bottom: 1em;
}
.author-enhanced .author-socials {
  color: #34495e;
  opacity: 0.3;
}

/* ==========================================================================
	5. 404
	========================================================================== */
.error404 article {
  text-align: center;
}

/* ==========================================================================
	6. Archive Layout
	========================================================================== */
.archive-layout {
  display: table;
  width: 100%;
  padding-bottom: 2em;
}

/* ==========================================================================
	7. Contact
	========================================================================== */
#map {
  display: table;
  width: 100%;
  height: 200px;
}
#map img {
  max-width: inherit;
}

/* ==========================================================================
	8. Back to top
	========================================================================== */
#btt {
  padding-top: 1em;
  display: block;
}

/* ==========================================================================
	 9. Default Page
	========================================================================== */
.single-post .post .inner ul, .page .post .inner ul {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.single-post .post .inner ul.meta, .page .post .inner ul.meta {
  padding-top: 0;
  padding-bottom: 0;
}
.single-post .post .inner ul.meta li, .page .post .inner ul.meta li {
  margin: 0 0.15em;
}
.single-post .post .inner ul li, .page .post .inner ul li {
  margin: 0.25em 0;
}

/* ==========================================================================
	10. Related
========================================================================== */
.related-posts {
  margin: 2em 0 0 0;
  padding: 2em;
}
.related-posts .posts {
  width: 100%;
}
.related-posts h5 {
  text-align: center;
  margin-bottom: 1em;
}
.related-posts h5:before {
  content: '— ';
  display: inline-block;
  padding-right: 0.4em;
}
.related-posts h5:after {
  content: ' —';
  display: inline-block;
  padding-left: 0.2em;
}
.related-posts h6 {
  text-align: center;
}
.related-posts .post {
  padding: 0;
  margin: 0;
  background: transparent;
}
.related-posts .inner {
  padding: 2em 1em;
}

/* ==========================================================================
	11. Header & Footer Widget Areas
========================================================================== */
.header-widgets, .footer-widgets {
  padding: 3em 0 0 0;
  display: table;
  width: 100%;
  text-align: center;
}

.footer-widgets {
  margin-top: 5em;
  padding: 2em 0 5em 0;
}

.widget {
  border-radius: 3px;
  padding: 1em;
}
.widget ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.widget ul li {
  padding: 0.25em 0;
}
.widget .socials {
  text-align: left;
}
.widget h4 {
  margin-bottom: 0.6em;
  text-align: center;
}
.widget h4:before {
  content: '— ';
  display: inline-block;
  padding-right: 0.2em;
}
.widget h4:after {
  content: ' —';
  display: inline-block;
  padding-left: 0.2em;
}

.mt-about-you-widget {
  margin-top: 65px;
  text-align: center;
}
.mt-about-you-widget img.mt-about-avatar {
  border-radius: 500px;
  width: 125px;
  height: 125px;
  margin: -85px auto 20px auto;
  display: block;
}

/* ==========================================================================
	13. Typography
==========================================================================
*/
body, input[type="text"], input[type="email"], input[type="tel"],
input[type="url"], input[type="password"], textarea,
input[type="submit"] {
  font-family: 'Roboto Slab', Georgia, serif;
}

.site-title,
h1, h2, h3,
h4, h5, h6,
.meta,
.more-link,
.share-overlay,
.content-aside,
blockquote,
.btn,
button,
.filter,
input[type="text"], input[type="url"], input[type="email"],
input[type="tel"], input[type="password"], textarea,
.post-meta,
.btn, button, .button, input[type="submit"],
#edd_checkout_cart_wrap,
#edd_checkout_form_wrap,
header.header nav, .hero, #comments .url,
.form-submit input[type="submit"] {
  font-family: 'Amatic SC', 'Heveltica Neue', Arial, sans-serif;
}

/* Font Sizes */
.site-tagline {
  font-size: 95%;
}

.post-content blockquote {
  padding-left: 1em;
}

blockquote, .content-aside {
  font-size: 210%;
}

.wrap {
  font-size: 16px;
  font-size: 1.6rem;
}

.site-title {
  font-size: 28px;
  font-size: 2.8rem;
}

.more-link, header nav {
  font-size: 24px;
  font-size: 2.4rem;
}

.meta {
  font-size: 22px;
  font-size: 2.2rem;
}

h1.large {
  font-size: 168px;
  font-size: 16.8rem;
}

h1 {
  font-size: 48px;
  font-size: 4.8rem;
}

.main-archive h2, h3#respond-title {
  font-size: 48px;
  font-size: 4.8rem;
}

h2, h2.home-blog-title {
  font-size: 36px;
  font-size: 3.6rem;
}

h3 {
  font-size: 34px;
  font-size: 3.4rem;
}

h4 {
  font-size: 32px;
  font-size: 3.2rem;
}

h5, #comments .url {
  font-size: 30px;
  font-size: 3rem;
}

h6 {
  font-size: 28px;
  font-size: 2.8rem;
}

.widget h4 {
  font-size: 26px;
  font-size: 2.6rem;
}

.widget ul {
  opacity: 0.65;
}

footer.footer, .widget {
  font-size: 14px;
  font-size: 1.4rem;
}

.hero {
  line-height: 0.7;
}
.hero h1 {
  font-size: 100px;
  font-size: 10rem;
  line-height: 0.8;
  margin: 0;
}
.hero .hero-line-one {
  font-size: 52px;
  font-size: 5.2rem;
}
.hero .hero-line-two {
  font-size: 65px;
  font-size: 6.5rem;
}

/* Font Weights */
.site-title,
h1, h2, h3,
h4, h5, h6,
.meta,
.more-link,
.share-overlay,
.content-aside,
blockquote,
.btn,
button,
.filter,
.post-meta,
.btn, button, .button, input[type="submit"],
header.header nav, .hero, #comments .url,
.form-submit input[type="submit"],
.widget h4 {
  font-weight: 700;
}

.hero * {
  font-weight: 400;
}

.widget h4 {
  font-weight: 600;
}

blockquote {
  margin-bottom: 1em;
}
blockquote cite {
  font-size: 80%;
  padding-top: 1em;
  display: block;
}
blockquote cite:before {
  content: ' — ';
}
blockquote p {
  margin: 0;
}

/* Line Heights and Spacing */
p {
  margin: 1em 0 1.5em 0;
}

.widget p {
  margin: 0.5em 0;
}

.team-icons p {
  margin: 0;
}

.square.format-chat p {
  margin: 1em 0;
}

h1 + h2.sub-title {
  margin-top: 24px;
}

body {
  line-height: 1.6;
}

.site-title,
h1,
.main-archive h2,
.basic-item h2 {
  line-height: 1.1;
}

h2, h3,
h4, h5, h6 {
  line-height: 1.4;
}

/* Setup */
html {
  font-size: 52.5%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Fonts */
body, input[type="text"], input[type="email"], input[type="tel"],
input[type="url"], input[type="password"], textarea,
input[type="submit"] {
  font-family: 'Lato', Arial, sans-serif;
}

input[type="text"], input[type="url"], input[type="email"], input[type="tel"], input[type="password"], textarea {
  font-size: 16px;
  font-size: 1.6rem;
}

.home-sticky .post-image, .related .post-image {
  padding: 0 1em;
}
.home-sticky .post-image img, .related .post-image img {
  border-radius: 2000px;
}

.hero .hero-inner .inner {
  padding-left: 4em;
  padding-right: 4em;
}

.hero h1 {
  font-size: 160px;
  font-size: 16rem;
}
.hero .hero-line-one {
  font-size: 79px;
  font-size: 7.9rem;
}
.hero .hero-line-two {
  font-size: 51px;
  font-size: 5.1rem;
}

.sticky-inner {
  display: block;
  margin: 0 auto;
  max-width: 1680px;
}



/* ==========================================================================
   14. Media Queries
   ========================================================================== */
@media screen and (min-width: 33.75em) {
  /* 540px */
  .related-posts .posts {
    display: table;
  }
  .related-posts .related.post {
    display: table-cell;
    vertical-align: top;
    width: 33.33333%;
    padding: 0 0.5em;
  }

  footer.footer #footer-text {
    float: left;
    text-align: left;
  }
  footer.footer #btt {
    float: right;
    text-align: right;
    padding-top: 0;
  }
}
@media screen and (min-width: 40em) {
  /* 640px */
  .home-sticky {
    padding-bottom: 0;
  }
  .home-sticky .home-sticky-post {
    width: 33.33333%;
    white-space: nowrap;
  }

  .inner {
    padding: 3em;
  }

  
}
@media screen and (min-width: 48em) {
  /* 768px */
  .home-sticky {
    padding-top: 6em;
    padding-bottom: 5em;
  }
  .home-sticky h2.home-sticky-title {
    margin-bottom: 2em;
  }

.el{
  font-family: 'Playfair Display', serif;
  font-size: 30px;
 font-size: 40px;
 text-align: center;

}
.first-screen__text__p{
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  margin-left: 15%;
  margin-top: 1%;
 
}
.eli{
  margin-left: 50%;
  margin-top: -55%;
  position: relative;
}
svg{
  background:url('images/153ad5ed-1bf9-4869-bdce-e44481e0da9c.jfif');
  background-size:cover;
  width:40vmin; height:auto;
  display:block;
  
}
text{
  font-size:10px;
  transition:font-size .4s ease-out;
  font-weight:900;
  font-family:arial;
}
svg:hover text{
  transition:font-size .4s ease-in;
  font-size: 300px;
}

.e{
  background:url('images/123.jfif');
  background-size:cover;
  width:40vmin; height:auto;
  display:block;
  
}
text{
  font-size:10px;
  transition:font-size .4s ease-out;
  font-weight:900;
  font-family:arial;
}
svg:hover text{
  transition:font-size .4s ease-in;
  font-size: 300px;
}
.liza{
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  text-align: center;
  width: 20%;
  margin-top: -38%;
  margin-left: 25%;
}
.liza2{
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  text-align: center;
  width: 20%;
  margin-top: 5%;
  margin-left: 25%;
}
.errr{
  font-size: 30px;
  color: #fff;
}